h1{
	text-align:center;
	color:black;
}
table{
	width:100%;
	text-align: center;
}
#td_fitnes{
	width:46%;
	text-align:right;
	padding-right: 10px;
}
#td_izberi{
	width:54%;
	text-align:left;
}
#td_vr_logo{
	text-align: center;
	padding-top: 20px;
}
body{
	background-image: url("nature1.jpg");
	background-size: 1366px 637px;
}
footer{
	text-align:center;
	letter-spacing: 5px;
}
#quote{
	text-align:center;
	font-family: courier new;
}
#quote_author{
	text-align:center;
	font-family: courier new;
	padding-bottom:30px;
}
