#tipka_fitnes{
	text-align:center;
	padding-right:5px;
	padding-bottom:10px;
	color: white;
}
#button{
	text-align:center;
	padding-bottom:5px;
}
.footer{
	text-align:center;
	letter-spacing:5px;
	padding-top:10px;
}
#quote{
	text-align:center;
	font-family:courier new;
	color:white;
	font-weight:bold;
}
#quote_author{
	text-align:center;
	font-family:courier new;
	padding-bottom:15px;
	color:white;
	font-weight:bold;
}
.mySlides {
	display:none;
}
.parent{
	text-align:center;
	position:fixed;
	width:100%;
	z-index:2;
}
.child{
	text-align:center;
}
.slide{
	position:fixed;
	z-index:1;
}
body{
	margin:0;
}