.window{
	position: fixed;
	display: none;
	width:500px;
	height:500px;
	background-color:#CCC;
	opacity:0.9;
	border-radius:8px;
	z-index: 2;
}
.box_text{
	padding:10px;
}
.opis{
	font-family:New Times Roman;
}
.video{
	float:left;
}
h4{
	margin-top:0px;
	margin-bottom:0px;
}